.vscode/**
.vscode-test/**
.claude/**
.codegraph/**
CLAUDE.md
webview/**
scripts/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
esbuild.js
vsc-extension-quickstart.md
test.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
docs/**
tmp/
.codex-tmp/**
release/**
